<div class="container">
    <form name="ph_property_search" class="property-search-form property-search-form-{{ form_id }} clear"
          action="{{ property_archive_link }}" method="get" role="form">

        <div class="form-controls-wrap">

            {% for key, field in form_controls %}

                {{ fn('ph_form_field',key,field) }}

            {% endfor %}

            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"><i
                        class="fa-regular fa-magnifying-glass"></i> Update Results
                </button>
            </div>

            {% do action('property_search_form_control_end') %}
        </div>

        <div class="property-search-form--checkbox-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="include-recent-props-checkbox">
                <label class="form-check-label" for="include-recent-props-checkbox">
                    Include Recently Let Properties
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="new-homes-checkbox">
                <label class="form-check-label" for="new-homes-checkbox">
                    New Homes Only
                </label>
            </div>
        </div>

        {% do action('property_search_form_end') %}
    </form>
</div>
