<div class="container">
    <form name="ph_property_search" class="property-search-form mb-0 property-search-form-{{ form_id }} clear"
          action="{{ property_archive_link }}" method="get" role="form">

        <div class="form-controls-wrap">

            {% for key, field in form_controls %}

                {{ fn('ph_form_field',key,field) }}

            {% endfor %}

            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"><i
                        class="fa-regular fa-magnifying-glass"></i> Update Results
                </button>
            </div>

            {% do action('property_search_form_control_end') %}
        </div>

        {% do action('property_search_before_end_form') %}
    </form>

    {% do action('property_search_after_form') %}
</div>
