<form name="ph_property_search" class="property-search-form property-search-form-{{form_id}} clear" action="{{property_archive_link}}" method="get" role="form">

    <nav class="form-control-departments">
        <ul>
            <li class="active"><a href="javascript:;" data-change-department data-department="residential-sales">Homes For Sale</a></li>
            <li><a href="javascript:;" data-change-department data-department="residential-lettings">Homes To Rent</a></li>
            <li><a href="#">Commercial Property</a></li>
        </ul>
    </nav>

    <div class="form-controls-wrap">
        {% for key, field in form_controls %}

            {{ fn('ph_form_field',key,field) }}

        {% endfor %}

        <div>
            <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"><i class="fa-regular fa-magnifying-glass"></i> Search</button>

            {% do action('property_search_form_actions',form_id) %}
        </div>
    </div>

    <div class="form-check from-recent-properties-checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Include Recently Let Properties
        </label>
    </div>
</form>
