<section class="page-section page-section--padding50 section-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 content-clear">
                {{ section.cont_editor_1 }}
            </div>
        </div>
    </div>
</section>
