{% if section.carousel_items %}

    <section class="page-section page-section--padding50 section-cta-carousel">
        <div class="container-wide">

            <div class="owl-carousel sa-cta-carousel sa-carousel-numeric-dots" data-carousel="cta">

                {% for item in section.carousel_items %}

                    <div class="cta-slide">
                        <div class="row">
                            <div class="col-lg-6" data-aos="slide-down">
                                <div class="cta-slide--content">
                                    {% if item.title %}
                                        <h2 class="h1">{{ item.title }}</h2>
                                    {% endif %}
                                    {{ item.content }}
                                    {% include 'components/parts/link.twig' with {
                                        link: item.link,
                                        css_class: 'link-border link-border--red'
                                    } %}
                                </div>
                            </div>
                            <div class="col-lg-6 cta-slide--image-column" data-aos="slide-up">
                                <div class="cta-slide--image">
                                    <img src="{{ item.image | resize(650,540) }}" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>
    </section>

{% endif %}
