<section class="page-section page-section--padding50 section-cta-carousel">
    <div class="container-wide">

        <div class="owl-carousel sa-cta-carousel sa-carousel-numeric-dots" data-carousel="cta">
            <div class="cta-slide">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="cta-slide--content">
                            <h2 class="h1">Marketing Message Lorem Ipsum Dolor Sit Amet</h2>
                            <p>Supporting message lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="link-border link-border--red">Find out more</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <img src="{{ theme.link }}/dist/images/temp/cta-slide.jpg">
                    </div>
                </div>
            </div>
            <div class="cta-slide">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="cta-slide--content">
                            <h2 class="h1">Marketing Message Lorem Ipsum Dolor Sit Amet</h2>
                            <p>Supporting message lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="link-border link-border--red">Find out more</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <img src="{{ theme.link }}/dist/images/temp/cta-slide.jpg">
                    </div>
                </div>
            </div>
            <div class="cta-slide">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="cta-slide--content">
                            <h2 class="h1">Marketing Message Lorem Ipsum Dolor Sit Amet</h2>
                            <p>Supporting message lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="link-border link-border--red">Find out more</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <img src="{{ theme.link }}/dist/images/temp/cta-slide.jpg">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
