<section class="page-section page-section--padding50 section-shortcode-form">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="section-shortcode-form--box">
                    {{ section.sf_shortcode | shortcodes }}
                </div>
            </div>
        </div>
    </div>
</section>
