.archive,
.page-template-page-insights{
    .section-insight-total{
        background: $support-color5;
        padding: 35px 0;

        .branch-name{
            color: $support-color2;
        }
    }

    .section-archive{
        &--list{
            overflow: hidden;
            margin-bottom: -50px;

            .blog-post{
                margin-bottom: 50px;
            }
        }
    }

    .sa-pagination{
        margin-top: 60px;
        text-align: right;
    }

    .section-promo-area{
        margin-top: 90px;
    }

    .insight-sidebar{
        .widget_block{
            &:first-child{
                display: none;

                & + * {
                    margin-top: 0;
                }
            }
        }
    }
}
