.archive,
.page-template-page-insights{
    .section-insight-total{
        background: $support-color5;
        padding: 35px 0;

        .branch-name{
            color: $support-color2;
        }
    }

    .sa-pagination{
        margin-top: 60px;
        text-align: right;
    }

    .insight-sidebar{
        .widget_block{
            &:first-child{
                display: none;

                & + * {
                    margin-top: 0;
                }
            }
        }
    }
}
