.archive,
.page-template-page-insights{
    .section-insight-total{
        background: $support-color5;
        padding: 35px 0;

        .branch-name{
            color: $support-color2;
        }

        .dropdown-arrow-wrap{
            background: #FFF;

            &:before{
                right: 12px;
            }

            select{
                font-weight: normal;
                font-size: 14px;
                height: 50px;
                padding-right: 30px;
                min-width: 270px;
                background: transparent;
                position: relative;
                z-index: 10;
                color: #6F7690;
            }
        }
    }

    .section-archive{
        &--list{
            overflow: hidden;
            margin-bottom: -50px;

            .promo-column{
                background-color: $brand-main-blue;
                padding: 25px;
                color: #FFF;

                a{
                    @include link-border(#FFFFFF,$brand-main-red);
                    display: inline-block;
                    margin-top: 20px;

                    &:hover{
                        color: $brand-main-red;
                    }
                }
            }

            .promo-column,
            .blog-post{
                margin-bottom: 50px;

                @media screen and (max-width: 575px) {
                    margin-bottom: 30px;
                }
            }

            &.ignore-overflow{
                overflow: inherit;
                margin-bottom: 0;
            }
        }
    }

    .sa-pagination{
        margin-top: 60px;
        text-align: right;
    }

    .section-promo-area{
        margin-top: 90px;
    }

    .insight-sidebar{
        .widget_block{
            &:first-child{
                display: none;

                & + * {
                    margin-top: 0;
                }
            }
        }
    }
}
