.single-sa_new_home{
    .section-new-home-developments{
        ul.properties{
            display: block;
            border: 1px solid $support-color4;

            .dev-item{
                padding: 20px;
                display: flex;
                align-items: center;

                & > *{
                    flex: 1;
                }

                &:not(:first-child) {
                    border-top: 1px solid $support-color4;
                }

                &--floorplan{
                    flex-basis: 30%;
                    max-width: 30%;
                    text-align: center;

                    img{
                        max-height: 85px;
                    }
                }

                &--details{
                    .property-residential-details{
                        list-style: none;
                        margin: 0 0 15px;
                        padding: 0;

                        li{
                            display: inline-block;

                            &:not(:first-child) {
                                margin-left: 20px;
                            }

                            i{
                                color: $brand-main-red;
                            }
                        }
                    }

                    .mobile-property-more{
                        display: none;
                        color: $support-color2;
                        text-decoration: underline;

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }

                &--price{
                    .price-box{
                        color: $support-color2;

                        .price{
                            font-size: 22px;
                            font-weight: normal;
                            color: $brand-main-blue;
                        }
                    }

                    .flag{
                        position: relative!important;
                        display: inline-block;
                        font-size: 14px!important;
                        padding: 2px 15px!important;
                        text-transform: none!important;
                    }
                }
            }
        }
    }

    .section-new-home-cta{
        .new-home-cta-block{
            &--thumb-link{
                display: inline-block;
                overflow: hidden;

                img{
                    transition: transform .2s;
                }
            }

            &--content{
                padding: 35px 30px 40px;
                background: #fff;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

                h4{
                    font-size: 22px;
                    margin-bottom: 20px;
                }

                .btn{
                    margin-top: calc(30px - 1rem);
                    display: inline-block;
                    min-width: 230px;
                }
            }

            &:hover{
                .new-home-cta-block--thumb-link{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
