.single-property{
    .property-detail-back-action-wrap{
        margin-bottom: 20px;

        a{
            font-weight: normal;
            text-transform: uppercase;

            i{
                color: $brand-main-red;
            }
        }
    }

    div.property{
        /*.property-arrange-viewing,*/
        .entry-summary .summary{
            margin-bottom: 30px;
        }

        .entry-summary{
            .property-detail-heading{
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                & > *{
                    flex: 1;
                }

                h1{
                    margin: 0;
                }

                .price{
                    text-align: right;
                    font-size: 30px;
                    font-weight: normal;
                    line-height: 1.2;

                    .price-qualifier{
                        display: block;
                        font-size: 16px;
                        font-weight: 300;
                        color: $support-color2;
                    }

                    .property-flag-wrap{
                        margin-top: 9px;

                        .flag{
                            position: relative!important;
                            display: inline-block;
                            font-size: 14px!important;
                            font-weight: 300;
                            text-transform: none!important;
                        }
                    }
                }
            }

            .property-let-additional-links{
                margin-bottom: 20px;

                a{
                    text-decoration: underline;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }

            .property-detail-shortlisted-button-wrap,
            .property-detail-status-shortlisted-wrap{
                /*margin-bottom: 30px;*/

                .flag{
                    position: relative!important;
                    display: inline-block;
                    padding-top: 0.657rem!important;
                    padding-bottom: 0.657rem!important;
                }

                .button-property-shortlist{
                    font-size: 0;
                    background-color: $support-color5;
                    padding: 8px 20px;
                    display: inline-block;

                    i,
                    span{
                        font-size: 16px;
                    }

                    i{
                        color: $brand-main-red;
                        margin-right: 6px;
                    }

                    &[disabled] {
                        &:after{
                            content: "Saving";
                            font-size: 16px;
                        }
                    }
                }
            }

            .property-residential-details{
                list-style: none;
                margin: 0 0 25px;
                padding: 0;

                li{
                    display: inline-block;

                    &:not(:first-child){
                        margin-left: 20px;
                    }

                    i{
                        color: $brand-main-red;
                    }
                }
            }
        }

        .images{
            margin-bottom: 55px;

            .flexslider{
                border-width: 0;

                &.thumbnails{
                    margin-top: 20px;
                    margin-bottom: 0;

                    li{
                        &.flex-active-slide{

                        }
                    }
                }
            }

            #slider{
                margin-bottom: 0;
            }
        }

        .property-detail-tabs{
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: normal;
            text-transform: uppercase;

            li{
                display: inline-block;

                &:not(:first-child) {
                    margin-left: 30px;
                }

                a{
                    @include link-border;

                    &:hover{
                        color: $brand-main-red;
                    }

                    &.active{
                        &:before{
                            background-color: $brand-main-red;
                        }
                    }
                }
            }
        }

        .property-arrange-viewing{
            background-color: $brand-main-blue;
            padding: 20px;
            color: $support-color3;

            a:not([class]){
                color: #FFF;
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }

            &--office-contacts{
                background-color: #FFF;
                color: $brand-main-blue;
                padding: 20px;

                .link-border{
                    color: $brand-main-blue;

                    &:hover{
                        color: $brand-main-red;
                    }
                }

                h3{
                    margin-bottom: 15px;
                }

                .branch-info{
                    color: $support-color2;

                    &--name{
                        margin-bottom: 10px;
                    }

                    &--phone-number{
                        color: $brand-main-blue;
                    }

                    .btn{
                        margin: 10px auto;
                        max-width: 200px;
                        width: 100%;
                    }

                    &--address{
                        margin: 10px 20px;

                        a{
                            color: $brand-main-blue;
                        }
                    }

                    .link-border{
                        display: inline-block;
                        margin-top: 25px;
                    }
                }
            }

            &--address-info{
                padding: 20px 40px 10px;

                .link-border{
                    color: #FFF;
                    margin-top: 15px;
                    display: inline-block;

                    &:hover{
                        color: $brand-main-red;
                    }
                }
            }

        }
    }

    .section-property-detail-content-tabs{
        .property-detail-tabs{
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid $support-color4;
            margin-bottom: 30px;
            padding-bottom: 30px;

            li{
                &:not(:first-child) {
                    margin-left: 30px;
                }

                a{
                    @include link-border($brand-main-blue);

                    &:hover{
                        color: $brand-main-red;
                    }

                    &.active{
                        &:before{
                            background-color: $brand-main-red;
                        }
                    }
                }
            }
        }

        .property-detail-description-wrapper{
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .property-rent-details{
                margin-bottom: 40px;

                h3{
                    margin-bottom: 25px;
                }
            }

            .features{
                font-weight: normal;

                ul{
                    li{
                        padding-left: 25px;
                        position: relative;

                        &:not(:first-child) {
                            margin-top: 20px;
                        }

                        &:before{
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 2px;
                            background-color: $brand-main-red;
                            left: 0;
                            top: 11px;
                        }
                    }
                }
            }
        }

        .property-floorplan-epc-wrap{
            background-color: $support-color4;
            padding: 40px;
            text-align: center;
        }
    }

    #content + .page-separator{
        margin-top: 50px;
    }
}
