.ajax-loader{
    position: fixed;
    background: rgba(#FFFFFF,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    &--inner{
        width: 100px;
        height: 100px;
        background-color: $brand-main-blue;
        color: #FFF;
        border-radius: 50%;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
