iframe,
video,
img{
  max-width: 100%;
}

img{
    height: auto;
}

body{
    font-family: 'Interstate';
    font-size: 16px;
    font-weight: 300;
    color: $brand-main-blue;
    overflow-x: hidden;
}

.bg-support1{
    background-color: $support-color1;
}

.bg-support2{
    background-color: $support-color2;
}

.bg-support3{
    background-color: $support-color3;
}

.bg-support4{
    background-color: $support-color4;
}

.bg-support5{
    background-color: $support-color5;
}

.sa-pagination{
    font-size: 16px;

    ul.pages{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            span,
            a{
                display: block;
                padding: 3px 0.782rem;

                &.next,
                &.prev{
                    &:not(:hover) {
                        opacity: 0.6;
                    }
                }

                &.current{
                    background-color: $brand-main-blue;
                    color: #FFF;
                }
            }
        }
    }
}

.wpcf7-form{
    .wpcf7-form-control-wrap{
        .wpcf7-form-control{
            &.wpcf7-not-valid{
                border-color: $brand-main-red;
            }
        }

        .wpcf7-not-valid-tip{
            color: $brand-main-red;
            padding: 1px 0;
            font-size: 14px;
            font-weight: 300;

            &:before{
                content: "\f00d";
                font-family: "Font Awesome 6 Pro";
                font-weight: 400;
                margin-right: 5px;
            }
        }
    }

    &.submitting{
        position: relative;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            background: rgba(#FFFFFF,0.5);
        }
    }

    &:not(.sent){
        .wpcf7-response-output{
            display: none!important;
        }
    }
}

#content{
    overflow: hidden;
}

ul.properties{
    .property{
        .thumbnail{
            .flag{
                display: none!important;
            }
        }
    }
}

div.properties{
    .owl-item{
        .thumbnail{
            .flag{
                display: none!important;
            }
        }
    }
}

.single-property{
    .property-detail-heading{
        .price{
            .flag{
                display: none!important;
            }
        }
    }
}
