h1,.h1{
    font-size: 38px;
    font-weight: normal;
}

h2,.h2{
    font-size: 30px;
    font-weight: normal;
}

h3,.h3{
    font-size: 22px;
    font-weight: normal;
}

.form-group{
    & > label{
        font-weight: normal;

        .optional{
            font-weight: 300;
        }
    }
}

.wpcf7-form{
    .wpcf7-spinner{
        display: none!important;
    }

    .form-group{
        .wpcf7-form-control-wrap{
            .wpcf7-radio{
                display: block;

                & > span{
                    display: block;
                    margin-left: 0;
                }
            }
        }
    }
}
