.branch-google-map-image{
    img{
        max-width: 600px;
    }
}

.property-search-department-tabs{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            display: inline-block;

            a{
                background-color: $support-color2;
                color: #FFF;
                display: block;
                font-size: 16px;
                font-weight: normal;
                text-transform: uppercase;
                padding: 13px;
                text-decoration: none;
            }

            &.active{
                a{
                    background-color: $brand-main-blue;
                }
            }
        }
    }
}

.property-search-form{
    font-size: 16px;
    width: auto;
    display: block;
    background-color: #FFF;

    .form-control-departments{
        margin-bottom: 25px;
        font-weight: normal;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            text-transform: uppercase;

            li{
                display: inline-block;

                &:not(:first-child) {
                    margin-left: 30px;
                }

                a{
                    @include link-border;

                    &:hover{
                        color: $brand-main-red;
                    }
                }

                &.active{
                    a{
                        &:before{
                            background-color: $brand-main-red;
                        }
                    }
                }
            }
        }
    }

    .form-controls-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .control{
            padding: 0 25px;
            border-left: 1px solid $support-color4;
            display: block;
            flex: 1;

            & > label{
                font-weight: normal;
            }

            &:not(.control-address_keyword) {
                & > label {
                    display: block;

                    &:after {
                        content: "\f107";
                        font-family: 'Font Awesome 6 Pro';
                        color: $brand-main-red;
                        margin-left: 10px;
                    }
                }
            }

            &-department{
                display: none;
            }

            select{
                min-width: 100%;
                cursor: pointer;
                appearance : none;
                background: transparent;
            }

            .autocomplete-container input,
            select{
                appearance: none;
                box-shadow: none;
                height: 25px;
                border: 0;
                font-weight: 300;
                font-size: 16px;
                color: #6F7690;
            }
        }
    }

    &--checkbox-group{
        margin-top: 15px;
        font-size: 14px;

        .form-check{
            margin-right: 50px;
        }

        .custom-control{
            .custom-control-label{
                line-height: 1.8;
            }
        }
    }

    & + .propertyhive-save-search-button{
        margin-bottom: 15px;
        display: inline-block;
        font-size: 14px;

        i{
            color: $brand-main-red;
        }
    }
}

ul.properties{
    list-style: none;
    margin: 0;
    padding: 0;

    & > li{
        width: auto!important;
        margin-left: 0!important;

        .property-item-inner{
            .thumbnail{
                position: relative;

                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }

                .property-images-count,
                .flag{
                    padding: 15px 20px!important;
                    text-transform: none!important;
                }

                .property-images-count{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #FFF;

                    i{
                        color: $brand-main-red;
                    }
                }
            }

            .details{
                background: #fff;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                margin: -75px 25px 0;
                padding: 20px 25px;
                position: relative;
                z-index: 10;

                .sa-shortlist-button{
                    color: $brand-main-red;

                    span{
                        display: none;
                    }

                    &[disabled] {
                        font-size: 0;

                        i{
                            font-size: 16px;
                        }
                    }
                }

                .property-residential-details{
                    list-style: none;
                    margin: 0 0 10px;
                    padding: 0;

                    li{
                        display: inline-block;
                        width: auto;
                        margin-left: 0;

                        &:not(:first-child) {
                            margin-left: 20px;
                        }

                        i{
                            color: $brand-main-red;
                        }
                    }
                }

                .property-item-subtitle{
                    font-weight: normal;
                }

                h6{
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0 0 25px;

                    a{
                        color: $support-color2;
                    }
                }

                .summary{
                    display: none;
                    color: $support-color2;
                    margin: -10px 0 20px;
                }

                .price{
                    font-size: 22px;
                    font-weight: normal;

                    .price-qualifier{
                        font-size: 14px;
                        color: $support-color2;
                        font-weight: 300;
                    }
                }

                .property-branch-details{
                    display: none;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0 0;
                    margin-top: 12px;
                    position: relative;
                    font-size: 14px;
                    color: $support-color2;

                    &:before{
                        content: "";
                        left: -25px;
                        right: -25px;
                        height: 1px;
                        background-color: $support-color4;
                        position: absolute;
                        top: 0;
                    }

                    a{
                        font-weight: normal;

                        i{
                            color: $brand-main-red;
                        }
                    }

                    &--rate{
                        margin-left: 10px;
                    }
                }
            }
        }

        &.promo{
            background-color: $brand-main-blue;
            color: #FFF;
            padding: 25px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{
                width: 70px;
                margin: 0 auto 20px;
            }

            h2{
                margin-bottom: 20px;
            }

            a{
                @include link-border(#FFFFFF,$brand-main-red);
                display: inline-block;
                margin-top: 20px;

                &:hover{
                    color: $brand-main-red;
                }
            }

            .item-promo-content{
                & > *:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    &.view-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px 30px;
    }

    &.view-list{
        .promo{
            padding: 40px 25px;
        }
    }
}

body .properties-map-popup{
    .title-close{
        padding: 10px 15px;
        background-color: $brand-main-blue;

        .close{
            a{
                color: #FFF
            }
        }
    }

    .properties{
        .property{
            .image{
                img{
                    padding: 0;
                    border-width: 0;
                }
            }

            .details{
                width: 160px;

                .summary{
                    font-weight: bold;
                }
            }
        }
    }
}

.section-properties{
    .property-search-form{
        padding: 15px 0;

        .form-controls-wrap{
            .control{
                &:first-child {
                    border-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

/*
.propertyhive-similar-properties-shortcode{
    ul.properties{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px 30px;

        & > li{
            !*display: flex;*!

        }
    }
}
*/

#save_search_popup,
.propertyhive-form{
    .control{
        margin-bottom: 20px;

        & > label[for]{
            display: block;
            margin-bottom: 5px;
            font-weight: normal;

            .required{
                color: $brand-main-red;
            }
        }

        & > textarea,
        & > input{
            display: block;
            width: 100%;
            font-weight: 300;
            padding: 10px;
            border-radius: 0;
            border: 0;
        }
    }

    .button,
    input[type="submit"] {
        background-color: $brand-main-blue;
        color: #FFF;
        border: 0;
        text-transform: uppercase;
        padding: 18px;
        transition: 0.3s ease all;
        display: inline-block;
        text-decoration: none!important;

        &:hover{
            background-color: $support-color2;
        }
    }
}

#save_search_popup{
    h2{
        margin-bottom: 20px;
    }

    .fa-bell{
        display: none;
    }

    .control{
        input{
            border-bottom: 1px solid $support-color4;
        }
    }

    input[type="submit"]{
        min-width: 150px;
    }
}
