<section class="page-section page-section--padding50 section-shortcode-similar-properties">
    <div class="container">
        <div class="page-section--heading text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h3 class="text-uppercase">YOU MIGHT ALSO LIKE</h3>
                </div>
                <div class="col-md-4 text-md-right mt-3 mt-md-0">
                    {% include 'components/parts/link.twig' with {
                        link: {
                            title: 'More Properties',
                            url: property_search_link
                        }
                    } %}
                </div>
            </div>
        </div>

        {{ fn('do_shortcode','[similar_properties property_id=' ~ property_id ~ ' per_page=3]') }}
    </div>
</section>
