.section-404-search-properties-form{
    &--inner{
        padding-top: 55px;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 208px;
            background: $support-color5;
        }
    }

    .page-section--heading{
        margin-bottom: 25px;
    }

    .property-search-form{
        padding: 20px 30px;
        margin-left: -30 px;
        margin-right: -30px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        .control-address_keyword,
        .control-property_type{
            padding-left: 0;
            border-left-width: 0;
        }
    }
}
