.section-block-links{
    .block-links-wrapper{
        overflow: hidden;
        margin-bottom: -30px;

        .item-block-link{
            margin-bottom: 30px;

            img{
                margin-bottom: 20px;
            }
        }
    }
}
