.section-content{
    .content-clear {
        .btn-shortcode{
            margin: 10px
        }
    }

    &--sidebar{
        .acf-widget-area{
            .content-widget{
                &:not(:first-child) {
                    margin-top: 50px;
                }
            }
        }
    }

    & + .section-block-links{
        padding-top: 0;
    }
}
