.section-content-image{
    min-height: calc(480px + 70px);

    &--content{
        color: #FFF;
        position: relative;
        padding: 60px 280px 60px 80px;
        left: -80px;
        margin-right: -80px;

        & > h2{
            margin-bottom: 30px;
        }

        .link-border{
            font-size: 20px;
            margin-top: 40px;
            display: inline-block;

            &--red{
                &:not(:hover){
                    color: #FFF;
                }
            }
        }

        .shortcode-link-arrow{
            color: #FFF;

            &:hover{
                color: $brand-main-red;
                text-decoration: none;
            }
        }
    }

    &--image-wrap{
        transform: scale(1.4616);
        transform-origin: right top;
        margin-top: 70px;
    }

    &--mobile-image{
        img{
            width: 100%;
        }
    }

    &.has-logo-watermark{
        .section-content-image--content{
            background-image: url("../images/logo-watermark.svg");
            background-position: bottom 30px right 200px;
            background-repeat: no-repeat;
            background-size: 105px;
        }
    }

    &.section-valuation{
        .section-content-image--image-wrap{
            transform: scale(1.6);
            margin-top: 50px;
        }

        .section-content-image--content{
            padding: 50px 365px 50px 80px;
        }

        &--short{
            min-height: 0;

            .section-content-image--image-wrap{
                transform: scale(2.9);
            }

            .section-content-image--content{
                padding: 50px 265px 70px 80px;
                background-position: bottom 40px right 250px;
                background-size: 90px;
            }
        }
    }
}
