.section-cta-text{
    &--style{
        padding: 50px 170px;

        &.style-blue{
            background-color: $brand-main-blue;
            color: #FFF;

            .section-cta-text--actions{
                .link-border:not(:hover){
                    color: #FFF;
                }
            }
        }

        &.style-gray{
            background-color: $support-color5;
        }

        & > h3{
            margin-bottom: 30px;
        }
    }

    &--actions{
        margin-top: 40px;
    }

    & + .section-cta-text{
        padding-top: 0;
    }
}
