.section-cta-carousel{
    .cta-slide{
        &--image{
            margin-top: 27px;
        }

        &--content{
            background-color: $support-color5;
            padding: 75px 45px 75px 80px;
            font-size: 22px;

            p,
            h2{
                margin-bottom: 25px;
            }

            .link-border{
                margin-top: 15px;
                display: inline-block;
            }
        }
    }

    .sa-cta-carousel{
        padding-bottom: 60px;

        .owl-dots{
            width: 50%;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 15px;

            &:after,
            &:before{
                content: "";
                height: 2px;
                width: 170px;
                position: absolute;
                top: 0;
                left: 15px;
            }

            &:before{
                background-color: $support-color4;
            }

            &:after{
                background-color: $brand-main-red;
                width: 0;
                animation: progress 5s infinite;
            }

            .owl-dot{
                position: relative;
                border-width: 0;

                /*&:last-child{
                    &:after{
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: 100%;
                        width: 75px;
                        background-color: $support-color4;
                        height: 2px;
                    }
                }*/
            }
        }

        &:hover{
            .owl-dots{
                &:after{
                    animation-play-state: paused;
                }
            }
        }
    }
}

@-webkit-keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 170px;
    }
}

@-moz-keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 170px;
    }
}

@-o-keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 170px;
    }
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 170px;
    }
}
