.section-page-top{
    margin-bottom: 37px;

    &--left-wrap{
        background: $support-color5;
        padding: 55px 80px;

        h1{
            margin-bottom: 0;
        }
    }

    &--image-wrap{
        margin-top: 27px;
    }

    &.has-branch-area{
        .section-page-top--left-wrap{
            padding-bottom: 110px;
        }

        .branch-area-box-shortcode{
            margin: -77px 100px 0 55px;
        }
    }
}
