.section-property-calculator{
    &--inner{
        padding: 50px 0;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
            background-color: $support-color5;
            width: calc(50vw + 500px);
            z-index: 10;
            right: 0;
        }

        .property-calculators-wrapper{
            background-color: #FFF;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            position: relative;
            z-index: 20;

            ul.nav{
                padding: 30px;
                text-transform: uppercase;
                font-weight: normal;

                li{
                    &:not(:first-child) {
                        margin-left: 20px;
                    }

                    a{
                        @include link-border;

                        &:hover{
                            color: $brand-main-red;
                        }

                        &.active{
                            &:before{
                                background-color: $brand-main-red;
                            }
                        }
                    }
                }
            }

            .form-group{
                margin-bottom: 35px;

                & > label{
                    font-weight: normal;
                }

                .form-control{
                    font-weight: 300;
                    padding-left: 0;
                    padding-right: 0;
                }

                .form-control,
                .input-group-text{
                    border-top-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                }

                .input-group{
                    .input-group-text{
                        background: none;
                        color: $brand-main-blue;
                    }

                    .input-group-prepend{
                        .input-group-text{
                            padding-left: 0;
                        }
                    }

                    .input-group-append{
                        .input-group-text{
                            padding-right: 0;
                        }
                    }
                }
            }

            .btn{
                font-size: 16px;
                padding: 18px 28px;
                text-transform: uppercase;

                &:not(:hover) {
                    background-color: $brand-main-blue;
                }
            }

            .tab-content{
                border-top: 1px solid $support-color4;

                .calculator-fields-wrap{
                    padding: 30px;
                }

                #results{
                    height: 100%;
                    background: $brand-main-blue;
                    color: #FFF;
                    padding: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
