.jobs-list-filter-wrap{
    --side-offset: 40px;

    margin-top: -200px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;

    h3{
        background-color: #EDEDF0;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 38px;
        padding-left: var(--side-offset);
        padding-right: var(--side-offset);
        position: relative;

        &:after{
            content: "";
            left: 0;
            top: 100%;
            right: 0;
            height: 50px;
            position: absolute;
            background-color: #EDEDF0;
        }
    }

    @include media-breakpoint-down(lg) {
        --side-offset: 25px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: -150px;
    }

    @include media-breakpoint-down(xs) {
        --side-offset: 15px;
        margin-top: -80px;
        margin-bottom: 30px;

        h3{
            padding: var(--side-offset);
            font-size: 30px;
            text-align: center;
        }
    }

    .jobs-list-filter-form{
        background-color: #FFF;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: var(--side-offset);
        padding-right: var(--side-offset);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-left: var(--side-offset);
        margin-right: var(--side-offset);
        position: relative;
        z-index: 5;
        display: flex;
        gap: 30px;

        @include media-breakpoint-down(lg) {
            gap: 15px;
        }

        @include media-breakpoint-down(md) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include media-breakpoint-down(xs) {
            grid-template-columns: 1fr 1fr;
        }

        .form-group{
            margin-bottom: 0;
        }

        & > div{
            flex: 1 1 auto;
            @include media-breakpoint-up(lg) {
                max-width: 190px;
            }
        }

        &__item-remote{
            min-width: 100px;
        }

        &__submit{
            align-self: center;

            @include media-breakpoint-down(md) {
                .btn{
                    width: 100%;
                }
            }
        }
    }
}

.workable-job-listing{
    .workable-job-item{
        padding: 22px 0;
        display: flex;
        position: relative;
        gap: 20px;

        &__title{
            flex: 1;
            padding-left: 15px;
        }

        &:not(:first-child) {
            border-top: 1px solid #c4cfde;
        }

        @include media-breakpoint-up(md) {
            & > div:not(.workable-job-item__title) {
                flex: 1 1 20%;
                max-width: 20%;
            }
        }

        & > a{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-indent: -99999px;
        }

        &:hover{
            background-color: #f9f9f9;
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;
            gap: 10px;

            &__title{
                padding-left: 0;
            }
        }
    }
}
