@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate/Interstate-Light.woff2') format('woff2'),
    url('../fonts/interstate/Interstate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate/Interstate-Bold.woff2') format('woff2'),
    url('../fonts/interstate/Interstate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate/Interstate-Regular.woff2') format('woff2'),
    url('../fonts/interstate/Interstate-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

