#breadcrumbs{
    padding: 11px;
    border-bottom: 1px solid $support-color4;
    font-size: 14px;

    i{
        color: $brand-main-red;
        margin: 0 5px;
    }

    a,
    span{
        color: $support-color2;

        &.breadcrumb_last{
            color: $brand-main-blue;
        }
    }
}
