#header{
    background-color: #FFF;
    padding: 23px 0;
    font-size: 16px;
    font-weight: normal;

    .header-inner{
        display: flex;
        flex-wrap: wrap;

        .header-logo{
            flex: 1 1 100px;
            max-width: 100px
        }

        .header-content{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            flex: 1;

            &--menu{
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li{
                        display: inline-block;

                        &:not(:first-child) {
                            margin-left: 17px;
                        }

                        a{
                            @include link-border($brand-main-blue,$brand-main-red);

                            &:before{
                                width: 0;
                                transition: 0.3s all;
                            }

                            &:hover{
                                &:before{
                                    width: 100%;
                                }
                            }
                        }

                        &.current-menu-item{
                            a{
                                &:before{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &--top{
                display: flex;
                align-items: center;

                .header-top-nav{
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            display: inline-block;
                            margin-left: 38px;

                            &.current-menu-item a,
                            i{
                                color: $brand-main-red;
                            }

                            &.current-menu-item{
                                a{
                                    i{
                                        font-weight: 600;
                                    }
                                }
                            }

                            &.mobile-menu-toggle{
                                display: none;
                            }
                        }
                    }

                    & + .btn{
                        margin-left: 45px;
                    }
                }
            }
        }
    }
}

.sticky-header{
    padding-top: 156px;

    #header{
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        z-index: 600;
        border-bottom: 1px solid $support-color4;
    }

    &.admin-bar{
        #header{

        }
    }
}

body{
    &.logged-in{
        #header{
            top:32px;

            .header-top-nav{
                ul{
                    li{
                        &.item-sign-in{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &:not(.logged-in) {
        #header{
            .header-top-nav{
                ul{
                    li{
                        &.item-my-account{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.mobile-menu{
    background-color: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    flex-direction: column;
    display: none;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .btn-valuation{
        margin-bottom: 25px;
    }

    nav{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;

        ul{
            li{
                &:not(:first-child) {
                    margin-top: 30px;
                }
            }
        }
    }

    &--socials{
        background-color: $support-color5;
        padding-top: 20px;
        padding-bottom: 10px;

        h6{
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        ul{
            font-size: 28px;

            li{
                display: inline-block;

                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
    }

    & > div{
        padding-left: 15px;
        padding-right: 15px;

        &:first-child{
            flex: 1;
            overflow: scroll;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
