#header{
    background-color: #FFF;
    padding: 23px 0;
    font-size: 16px;
    font-weight: normal;

    .header-inner{
        display: flex;
        flex-wrap: wrap;

        .header-logo{
            flex: 1 1 100px;
            max-width: 100px
        }

        .header-content{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            flex: 1;

            &--menu{
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li{
                        display: inline-block;

                        &:not(:first-child) {
                            margin-left: 17px;
                        }

                        a{
                            @include link-border($brand-main-blue,$brand-main-red);

                            &:before{
                                width: 0;
                                transition: 0.3s all;
                            }

                            &:hover{
                                &:before{
                                    width: 100%;
                                }
                            }
                        }

                        &.current-menu-item{
                            a{
                                &:before{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &--top{
                display: flex;
                align-items: center;

                .header-top-nav{
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            display: inline-block;
                            margin-left: 38px;

                            &.current-menu-item a,
                            i{
                                color: $brand-main-red;
                            }

                            &.current-menu-item{
                                a{
                                    i{
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    & + .btn{
                        margin-left: 45px;
                    }
                }
            }
        }
    }
}

.sticky-header{
    padding-top: 156px;

    #header{
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        z-index: 600;
        border-bottom: 1px solid $support-color4;
    }

    &.admin-bar{
        #header{

        }
    }
}

body{
    &.logged-in{
        #header{
            .header-top-nav{
                ul{
                    li{
                        &.item-sign-in{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &:not(.logged-in) {
        #header{
            .header-top-nav{
                ul{
                    li{
                        &.item-my-account{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
