.insight-sidebar{
    .insight-widget{
        &:not(:first-child) {
            margin-top: 40px;
        }

        h5{
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .categories-list{
            padding: 30px 0;
            border: 1px solid $support-color4;
            font-size: 14px;
            font-weight: 300;
            border-left-width: 0;
            border-right-width: 0;

            ul{
                list-style: none;
                margin: 0;
                padding: 0;

                li{
                    &:not(:first-child) {
                        margin-top: 8px;
                    }
                }
            }
        }

        .branch-area-box-shortcode{
            margin-left: -30px;
            margin-right: -30px;
        }
    }
}
