.branch-opening-hours-block{
    background-color: $brand-main-blue;
    padding: 20px;

    h4{
        margin-bottom: 15px;
    }

    &--hours-wrap{
        padding: 25px 35px;
        background-color: #FFF;

        .opening-hours-list{
            & > div{
                display: flex;
                justify-content: space-between;
            }

            &--hours{
                color: $support-color2;
            }
        }

        & + .branch-opening-hours-block--features-wrap{
            margin-top: 25px;
        }
    }

    &--features-wrap{
        color: #FFF;

        ul{

            list-style: none;
            margin: 0;
            padding: 0;

            *,
            a{
                color: $support-color3;
            }

            a{
                color: #FFF;
                text-decoration: underline;
            }
        }
    }
}
