// Styling header

#ip-header{
  background-color: $primary;
  text-align:center;
  padding:35px 0;
  .site-logo{
    display: inline-block;
    text-align: center;
    width: 200px;
    @include breakpoint(480px) {
      width: 50%;
    }
    @include breakpoint(320px){
      width: 38%;
    }
  }
}

#ip-masthead{
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding:90px 0;
  @include breakpoint(518px){
    padding: 40px 0;
  }
  @include breakpoint(320px){
    padding: 20px 0;
  }
  .masthead-img{
    background: url("assets/ip-masthead.jpg") no-repeat center center;
    background-size: cover;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
  }
  .masthead-content{
    position: relative;
    z-index:1;
    top:0;
    .wpcf7-not-valid-tip{
      top: -26px;
    }

    .transparent-box{
      background: $bgtransparent;
      color: $primary;
      padding:25px 40px;
      height:100%;
      .col{
        &:nth-child(1){
          .col-content{
            padding:2rem 40px 2rem 0;
            border-right:1px solid $line;
            @include breakpoint(882px) {
              padding:3.5rem 20px 2rem 0;
            }
            @include breakpoint(620px){
              border:0;
              padding:10px 0;
            }
          }
        }
        &:nth-child(2){
          .col-content{
            padding:50px 0 16px 40px;
            @include breakpoint(882px) {
              padding:22px 0 16px 40px;
            }
            @include breakpoint(712px) {
              padding:22px 0 16px 25px;
            }
            @include breakpoint(620px){
              border:0;
              padding:0 0;
            }
          }
          p{
            padding-bottom:26px;
            font-size: 15px;
            line-height: 25px;
          }
        }
        @include breakpoint(620px){
          width:100%;
        }
      }
      .form-group{
        margin-bottom:0;
        &:nth-child(3){
          .col{
            width:100%;
          }
        }
        @include breakpoint(588px){
          margin-bottom:0;
        }
        .form-control{
          width: 100%;
          background:none;
          border-bottom:1px solid $skyblue;
          border-left:0;
          border-right:0;
          border-top:0;
          color: $primary;
          outline:none;
          padding-bottom: 6px;
          @include breakpoint(588px){
            margin-bottom: 16px;
          }
          @include placeholder {
            color: $primary;
            font-family: $gothamMedium;
            font-size: 14px;
            @include breakpoint(882px) {
              font-size:11px;
            }
            @include breakpoint(712px) {
              font-size: 9px;
            }
            @include breakpoint(620px){
              font-size: 13px;
            }
            @include breakpoint(426px){
              font-size: 10px;
            }
            @include breakpoint(420px){
              font-size: 9px;
            }
          }
        }
        .col1{
          width: 48%;
          @include breakpoint(588px){
            width: 100%;
          }
        }
        .col2{
          width: 48%;
          float: right;
          @include breakpoint(588px){
            width: 100%;
          }
        }
        .col{
          input{
            margin-bottom: 30px;
          }
        }
      }
      @include breakpoint(882px) {
        padding: 25px;
      }
      @include breakpoint(620px){
        padding: 35px;
      }
      @include breakpoint(320px){
        padding: 25px;
      }
    }
  }
}

#ip-opportunity-area{
  background: $primary;
  text-align: $textCenter;
  padding:80px 0 65px;
}

#ip-blocks-area{
  padding:0 0 90px;
  @include breakpoint(992px){
    font-size: 16px;
  }
  @include breakpoint(458px){
   padding: 0 0 40px;
  }
  .col{
    @include breakpoint(712px){
      width: 50%;
    }
    .img-block-area{
      margin-bottom: 30px;
      @include breakpoint(712px){
        margin-bottom: 16px;
        padding: 0 8px;
      }
    }
    @include breakpoint(430px){
      width: 100%;
    }
  }
  .img-block-area{
    padding:0 18px;
    .img-block{
      position:relative;
      h5{
        position:absolute;
        top:25px;
        left:25px;
        color: $primary;
        text-transform: $uppercase;
        width: 52%;
        span{
          display: block;
          font-family: $gothamBook;
          font-size: 13px;
          padding-top: 10px;
        }
        @include breakpoint(870px){
          font-size: 14px;
        }
        @include breakpoint(430px){
          width: 70%;
        }
      }
    }
    .img-orange-bar{
      background: $bgsecondary;
      margin-top: -5px;
      p{
        margin:0;
        padding: 10px 25px;
        color: $primary;
        @include breakpoint(992px){
          font-size: 16px;
        }
        @include breakpoint(770px){
          font-size: 14px;
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
  .img-statistic-area{
    background: $grey;
    .statistic-block{
      padding:14px 10px;
      @include breakpoint(1070px){
        padding:10px;
      }
      img{
        @include breakpoint(770px){
          width: 10%;
        }
      }

      @include flexbox;
      @include align-content(center);
      @include align-items(center);
      @include justify-content(center);

      h6{
        text-transform: $uppercase;
        color:$darkGrey;
        padding-left:8px;
        span{
          display: block;
          font-family: $bodyFont;
          color: $lightGrey;
          text-transform: none;
          font-size: 15px;
        }
      }
    }
    .col{
      @include breakpoint(1070px){
        width:100%;
      }
      @include breakpoint(430px){
        width: 50%;
      }
    }
  }
}

#ip-invest-area{
  background: $bgsecondary;
  text-align: $textCenter;
  padding:80px 0 340px;
  color: $primary;
  @include breakpoint(458px){
    padding:50px 15px 340px;
  }
  @include breakpoint(460px){
    padding: 80px 0 0;
  }
  h3{
    color: $primary;
  }
  p{
    color: $primary;
  }
  #ip-invest-boxes{
    padding-top: 25px;
    .col{
      @include breakpoint(930px){
        width: 50%;
        min-height: 255px;
      }
      @include breakpoint(640px){
        width: 50%;
        min-height: 280px;
      }
      @include breakpoint(535px){
        width: 50%;
        min-height: 310px;
      }
      @include breakpoint(502px){
        width: 50%;
        min-height: 360px;
      }
      @include breakpoint(458px){
        width: 100%;
        min-height: inherit;
      }
    }
    .invest-box{
      padding:0 20px;
      .invest-box-img{
        min-height: 80px;
        @include breakpoint(400px){
          min-height: 60px;
        }
      }
      p{
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

#ip-video-area{
  //height: 600px;
  margin-top:-300px;
  text-align: $textCenter;
  padding-bottom: 80px;

  @include breakpoint(460px){
    margin-top:0;
    padding:16px 16px 40px 16px;
  }


  .ip-video{
    background: $grey;
    //height: 600px;

    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#ip-bottom-form{
  padding-bottom: 80px;
  text-align: $textCenter;
  @include  breakpoint(460px){
    padding-bottom:40px;
  }
  .btm-form{
    padding-top: 70px;
    text-align: left;
    .wpcf7-not-valid-tip{
      top: -17px;
    }
    @include breakpoint(469px){
      padding-top:30px;
    }
    .form-control{
      width: 100%;
      @include placeholder {
        color: $darkGrey;
        font-family: $gothamMedium;
        font-size: 14px;
        @include breakpoint(518px){
          font-size: 10px;
        }
      }
    }
    .form-group{
      margin-bottom: 30px;
      @include breakpoint(588px){
        margin-bottom:10px;
      }
      .col{
        input{
          margin-bottom: 20px;
        }
      }
      .col1{
        width: 48%;
        @include breakpoint(586px){
          width: 100%;
        }
      }
      .col2{
        float: right;
        width: 48%;
        @include breakpoint(586px){
          width: 100%;
        }
      }
      .form-control{
        width: 100%;
        background: none;
        border-bottom: 1px solid #00b2e2;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        color: $darkGrey;
        outline: none;
        padding-bottom: 6px;
      }
    }
  }
  .bottom-holder{
    padding:0 5%;
    .btn-wrap{
      text-align: $textCenter;
      padding-top: 25px;
      @include breakpoint(588px){
        padding-top: 0;
      }
    }
  }
}

#footer{
  background: $bgdarkblue;
  color: $primary;
  padding:90px 0;
  @include breakpoint(518px){
    padding: 50px 35px;
  }
  p{
    padding-bottom:0;
    margin:0;
  }
  img{
    margin-bottom: 25px;
  }
  .col{
    &:last-child{
      float: right;
    }
  }
  a{
    display: block;
  }
  h5{
    color: $blue1;
    text-transform: $uppercase;
  }
  .footer-right{
    p{
      padding:0;
      span{
        color: $skyblue;
      }
    }
  }
  .col-6{
    padding-bottom: 20px;
  }
  .col-6 ,.col-5{
    @include breakpoint(518px){
      width: 100%;
    }
  }
  .copyright{
    margin-top: 20px;
  }
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
  text-align: $textCenter;
}
div.wpcf7-response-output{
  text-align: $textCenter;
}
span.wpcf7-not-valid-tip{
  position: relative;
  font-size: 14px !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: 1px solid #f7e700 !important;
  font-size: 13px !important;
}