{% set grid_css_class = 'col-xl-4' %}
{% if columns == 2 %}
    {% set grid_css_class = 'col-xl-6' %}
{% endif %}

{% if posts.found_posts %}

    <section class="page-section page-section--padding50 section-latest-posts" data-aos="fade-left">
        {% if ignore_container != 1 %}<div class="container">{% endif %}
            <div class="page-section--heading">
                <div class="row align-items-center">
                    <div class="col-xl-{{ more_link?'6':'12' }}">
                        <h3 class="text-uppercase">{{ title }}</h3>
                    </div>
                    {% if more_link %}
                        <div class="col-xl-6 text-xl-right">
                            {% include 'components/parts/link.twig' with {
                                link: more_link
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="section-latest-posts--list">
                <div class="row">

                    {% for post in posts %}

                        <div class="{{ grid_css_class }}">

                            {% include 'global/post.twig' with { post : post } %}

                        </div>

                    {% endfor %}

                </div>
            </div>
        {% if ignore_container != 1 %}</div>{% endif %}
    </section>

{% endif %}
