<section class="section-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 text-center text-md-left mb-3 mb-md-0">
                <div class="section-newsletter--socials">
                    <h3>Stay Up-To-Date</h3>
                    {{ '[social_links]' | shortcodes }}
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <form class="newsletter-form" action="https://www.surveygizmo.com/s3/6575989/Email-Newsletter" method="post" enctype="multipart/form-data">
                    <div class="sg-hidden-inputs">
                        <input type="hidden" name="sg_navchoice" id="sg_navchoice" value=""/>
                        <input type="hidden" name="sg_currentpageid" id="sg_currentpageid" value="1"/>
                        <input type="hidden" name="sg_surveyident" id="sg_surveyident" value="6575989"/>
                        <input type="hidden" name="sg_sessionid" id="sg_sessionid" value=""/>
                        <input type="hidden" name="sg_high_contrast" id="sg_high_contrast" value=""/>
                        <input type="hidden" name="sg_cint_panelist" id="sg_cint_panelist" value=""/>
                        <input id="sg_referer" type="hidden" name="sg_referer" value="https://app.alchemer.com/distribute/share/id/6575989"/>
                        <input type="hidden" name="sg_interactionlevel" id="sg_interactionlevel" value="0"/>
                        <input type="hidden" name="sg9ee71719dc9fe069e690c1f9ba9bb4a5" id="sg9ee71719dc9fe069e690c1f9ba9bb4a5" value=""/>
                    </div>
                    <div class="newsletter-form--box">
                        <input type="email" class="sg-input sg-input-text sg-validation-email" id="sgE-6575989-1-2-element" name="sgE-6575989-1-2" title="Subscribe To Our Newsletter" value="" placeholder="Email" required />
                        <input type="submit" value="Sign Up" class="btn btn-lg btn-primary text-uppercase">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
