{% if branch_data %}
    <div class="property-arrange-viewing text-center">
        <div class="property-arrange-viewing--office-contacts">
            <h3 class="text-uppercase">Arrange a viewing</h3>
            <div class="branch-info">
                <div class="branch-info--name">{{ branch_data.title }} Branch</div>
                <div class="branch-info--phone-number h3 mb-0 text-uppercase">{{ branch_data.phone }}</div>
                <a href="#" class="btn btn-lg btn-secondary text-uppercase">Email Us</a>
                <div class="branch-info--address">
                    {{ branch_data.address }}<br>
                    <a href="#property-info-location" data-open-property-tab>View on map</a>
                </div>
                {{ fn('propertyhive_make_enquiry_button') }}
            </div>
        </div>
    </div>
{% endif %}
