<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#property-info-description">Description</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#property-info-location">Location</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#property-info-floorplan">Floorplan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#property-info-epc">EPC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#property-info-schools">Schools</a>
    </li>
</ul>
