<ul class="property-detail-tabs nav">
    <li>
        <a class="active" data-toggle="tab" href="#property-info-description">Description</a>
    </li>
    <li>
        <a data-toggle="tab" href="#property-info-location">Location</a>
    </li>

    {% if floorplan_urls %}

        <li>
            <a data-toggle="tab" href="#property-info-floorplan">Floorplan</a>
        </li>

    {% endif %}

    {% if epc_urls %}

        <li>
            <a data-toggle="tab" href="#property-info-epc">EPC</a>
        </li>

    {% endif %}

    <li>
        <a data-toggle="tab" href="#property-info-schools">Schools</a>
    </li>
</ul>
