<div id="branch-contact-popup" style="max-width:600px">
    <h3 class="mb-3">Contact Stirling Ackroyd {{ branch_title }}</h3>
    <form data-form="branchContact">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="department" value="{{ department }}">

        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="first_name" value="" class="form-control">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" name="surname" value="" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone_number" value="" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email_address" value="" class="form-control">
        </div>
        <div class="form-group">
            <label>Enquiry details</label>
            <textarea name="enquiry_text" class="form-control"></textarea>
        </div>
        <div class="text-center">
            <input type="submit" value="SUBMIT" class="btn btn-lg btn-primary btn-min-230">
        </div>
    </form>
</div>
