{% extends "base.twig" %}

{% block content %}

    <section class="section-404 text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6 content-clear">
                    {{ options.section_404.content }}
                </div>
                <div class="col-lg-5 col-md-6 text-md-right mt-4 mt-md-0">
                    <img src="{{ options.section_404.image }}">
                </div>
            </div>
        </div>
    </section>

    {% if options.section_404.property_search_shortcode %}

        <section class="page-section page-section--padding50 section-404-search-properties-form">
            <div class="container">
                <div class="section-404-search-properties-form--inner">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">

                            {% if options.section_404.property_search_title %}

                                <div class="page-section--heading text-center text-md-left">
                                    <h2>{{ options.section_404.property_search_title }}</h2>
                                </div>

                            {% endif %}

                            {{ options.section_404.property_search_shortcode | shortcodes }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {% include 'components/static-sections/book-valuation.twig' %}
{% endblock %}
