{% extends "base.twig" %}

{% block content %}
    {% set key_services = post.get_field('branch_key_services') %}
    {% set opening_hours = post.get_field('branch_opening_hours') %}
    {% set latest_properties = post.get_field('branch_latest_properties') %}
    {% set two_side_cta = post.get_field('branch_two_side_cta') %}

    <section class="page-section page-section--padding50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 content-clear">
                    <h2>About {{ post.title }}</h2>
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>

    <section class="page-section page-section--padding50 section-dataloft">
        <div class="container">
            <div class="page-section--heading">
                <h3 class="text-uppercase">Properties at this development</h3>
            </div>



        </div>
    </section>


{% endblock %}
