.blog-post{
    font-weight: 300;
    color: $support-color2;

    img{
        width: 100%;
    }

    &--image{
        position: relative;
        border: 1px solid $support-color4;
        overflow: hidden;

        &__cat{
            position: absolute;
            background-color: #FFF;
            left: -1px;
            bottom: -1px;
            padding: 15px 20px;
        }

        img{
            transition: transform .2s;
        }
    }

    h3{
        margin: 15px 0;
        line-height: 28px;

        a{
            color: $brand-main-blue;
        }
    }

    & > *:last-child{
        margin-bottom: 0;
    }
    &:hover{
        .blog-post--image{
            img{
                transform: scale(1.2);
            }
        }
    }

    @media screen and (min-width: 768px) {
        &.post-horizontal-style {
            display: flex;
            flex-wrap: wrap;
            box-shadow: 0 3px 6px silver;

            .blog-post {
                &--image {
                    border: 0;

                    img {
                        width: 480px;
                    }

                    @media screen and (max-width: 991px) {
                        width: 370px;
                    }
                }
            }

            .blog-post-content {
                flex: 1;
                padding: 20px 30px;
            }
        }
    }
}
