@media screen and (max-width: 1200px) {
    .section-page-top{
        &--left-wrap{
            padding-left: 30px;
            padding-right: 30px;

            h1{
                font-size: 30px;
            }
        }
    }
}
