@media screen and (max-width: 1350px) {
    #footer{
        .footer-copyright{
            &:before{
                left: 0;
                right: 0;
            }
        }
    }

    .section-content-image{
        &--content{
            left: 0;
            margin-right: 0;
        }
    }
}
