@media screen and (max-width: 480px) {
    .property-search-department-tabs{
        ul{
            li{
                a{
                    font-size: 11px;
                    height: 100%;
                    padding: 10px;
                }
            }
        }
    }

    #footer{
        .footer-widgets{
            .footer-supported-brands{
                ul{
                    display: flex;
                }
            }
        }
    }

    .section-property-calculator{
        &--inner{
            .property-calculators-wrapper{
                ul.nav{
                    li{
                        a{
                            padding: 10px;
                            font-size: 11px;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
