@media screen and (max-width: 480px) {
    #header{
        .header-inner{
            .header-content{
                &--top{
                    .header-top-nav{
                        ul{
                            li{
                                margin-left: 10px;
                                /*a{
                                    span{
                                        &:before{
                                            content: normal;
                                        }
                                    }
                                }*/
                            }
                        }
                    }
                }
            }
        }
    }

    .property-search-department-tabs{
        ul{
            li{
                a{
                    font-size: 11px;
                    height: 100%;
                    padding: 10px;
                }
            }
        }
    }

    .section-property-calculator{
        &--inner{
            .property-calculators-wrapper{
                ul.nav{
                    li{
                        a{
                            padding: 10px;
                            font-size: 11px;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
