@media screen and (max-width: 575px) {
    .section-content-image{
        &--content{
            padding: 30px 15px;
            font-size: 14px;

            & > h2{
                font-size: 22px;
            }

            .link-border{
                margin-top: 30px;
            }
        }

        &--mobile-image{
            margin-right: -30px;
        }
    }

    .section-cta-carousel {
        .cta-slide {
            &--content {
                padding: 30px 30px 45px;
                font-size: 14px;

                h2{
                    font-size: 22px;
                }

                .link-border{
                    font-size: 20px;
                    margin-top: 0;
                }
            }
        }
    }
}
