@media screen and (max-width: 575px) {
    body{
        font-size: 14px;
    }

    .content-clear{
        h2{
            font-size: 22px;
        }
    }

    .page-section{
        &--padding50{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &--heading{
            margin-bottom: 30px;

            h2{
                font-size: 22px;
            }
        }
    }

    .section-newsletter{
        .newsletter-form{
            &--box{
                display: block;
                background-color: transparent;

                .sg-input{
                    display: block;
                    width: 100%;
                    padding: 13px;
                    margin-bottom: 10px;
                }

                input[type="submit"] {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    #footer{
        .footer-widgets{
            padding: 30px 0;

            &--widget{
                h5{
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }

            .footer-supported-brands{
                margin-top: 30px;
            }
        }

        .footer-copyright{
            &--nav{
                nav{
                    ul{
                        li{
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .section-content-image{
        &--content{
            padding: 30px 15px;

            & > h2{
                font-size: 22px;
            }

            .link-border{
                margin-top: 30px;
            }
        }

        &--mobile-image{
            margin-right: -30px;
        }

        &.section-valuation{
            .section-content-image--content{
                padding: 30px 15px;
            }
        }
    }

    .section-cta-carousel {
        .cta-slide {
            &--content {
                padding: 30px 30px 45px;
                font-size: 14px;

                h2{
                    font-size: 22px;
                }

                .link-border{
                    font-size: 20px;
                    margin-top: 0;
                }
            }
        }
    }

    .property-search-info-wrap{
        padding-bottom: 0;
        border-bottom-width: 0;

        &--inner{
            .propertyhive-views{
                display: block;
                width: 100%;

                ul{
                    display: flex;
                    margin-left: -15px;
                    margin-right: -15px;
                    border-left-width: 0;
                    border-right-width: 0;

                    li{
                        flex: 1;
                        text-align: center;
                    }
                }
            }
        }
    }

    .section-property-detail-content-tabs{
        .property-detail-tabs {
            display: none;
        }

        .tab-content{
            .tab-pane{
                display: block!important;
                opacity: 1;

                &:not(:first-child) {
                    margin-top: 40px;
                }

                .tab-pane-hidden-title{
                    display: block;
                }
            }
        }

        .property-detail-description-wrapper{
            .features {
                margin-bottom: 30px;

                ul {
                    li:not(:first-child){
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .single-property{
        div.property{
            .images{
                margin-bottom: 15px;
            }

            .entry-summary{
                .property-detail-heading{
                    h1{
                        font-size: 30px;
                    }

                    .price{
                        margin-top: 10px;
                        font-size: 22px;
                    }
                }
            }
        }

        .section-property-calculator{
            &--inner{
                padding: 0;

                &:before{
                    background: none;
                }

                .tab-pane{
                    button.btn-primary{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    #whr_embed_hook{
        .whr-group{
            font-size: 22px;
            margin-top: 50px;
            margin-bottom: 0;
        }

        .whr-items{
            .whr-item{
                .whr-title{
                    font-size: 16px;
                }
            }
        }
    }

    .section-valuation-types{
        .valuation-type-block{
            h3{
                font-size: 16px;
                margin-bottom: 20px;
            }

            ul{
                li:not(:first-child){
                    margin-top: 13px;
                }
            }
        }
    }
}
