@media screen and (max-width: 767px) {
    :root{
        --header-offset: 86px;
    }

    .content-2-columns{
        columns: auto;
    }

    #header{
        padding: 15px 0;

        .header-inner{
            align-items: center;

            .header-logo{
                max-width: 50px;
                flex-basis: 50px;
            }

            .header-content{
                &--top{
                    .header-top-nav{
                        ul{
                            li{
                                margin-left: 20px;

                                &:first-child {
                                    margin-left: 0;
                                }

                                a{
                                    display: inline-block;
                                    text-align: center;

                                    i{
                                        font-size: 22px;
                                    }

                                    span{
                                        font-size: 0;
                                        display: block;

                                        &:before{
                                            content: attr(data-alt);
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &.mobile-menu-toggle{
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .btn-valuation{
                        display: none;
                    }
                }

                &--menu{
                    display: none;
                }
            }
        }
    }

    .mobile-menu{
        top: var(--header-offset);
    }

    body{
        &.admin-bar{
            #header{
                top: 46px;
            }

            .mobile-menu{
                top: calc(var(--header-offset) + 46px);
            }
        }
    }

    .menu-opened{
        overflow: hidden;

        .mobile-menu{
            display: flex;
        }

        #header{
            .header-inner{
                .header-content{
                    &--top{
                        .mobile-menu-toggle{
                            i{
                                &:before{
                                    content: "\f00d";
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sticky-header{
        padding-top: var(--header-offset);
    }

    .page-section {
        &--padding50 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .section-page-top{
        margin-bottom: 0;

        &--left-wrap{
            text-align: center;
        }

        &--image-wrap{
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;

            img{
                width: 100%;
            }
        }

        &--content{
            font-size: 16px;
        }
    }

    .section-newsletter{
        padding-top: 25px;
        padding-bottom: 15px;

        &--socials{
            h3{
                font-size: 22px;
            }
        }
    }

    #footer{
        .footer-copyright{
            &--nav{
                display: block;

                nav{
                    ul{
                        li{
                            &:first-child{
                                margin-left: 0;
                            }
                        }
                    }
                }

                & > *:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }

        .footer-supported-brands{
            ul{
                display: flex;
            }
        }
    }

    .section-home-hero{
        padding-top: 15px;
        padding-bottom: 45px;

        &--image{
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;

            img{
                height: 320px;
            }
        }

        &--content{
            text-align: center;
            font-size: 16px;
            padding: 20px;

            &:before{
                top: 0;
            }

            h1{
                font-size: 30px;
            }
        }

        &--search{
            margin-top: -140px;

            .property-search-department-tabs{
                ul{
                    display: flex;
                    margin: 0 -2px;

                    li{
                        flex: 1 1 auto;
                        text-align: center;
                        padding: 0 2px;
                    }
                }
            }

            @include search-form-column;
            /*.property-search-form{
                .form-controls-wrap{
                    flex-direction: column;
                    align-items: normal;

                    .control{
                        padding: 0;
                        margin-bottom: 20px;
                        border-left-width: 0;

                        select,
                        input[type="text"]{
                            border: 1px solid $support-color4;
                            padding: 10px;
                            height: auto;
                            width: 100%;
                        }

                        &:not(.control-address_keyword){
                            position: relative;

                            & > label{
                                &:after{
                                    content: normal;
                                }
                            }

                            &:after{
                                content: "\f107";
                                font-family: 'Font Awesome 6 Pro';
                                color: $brand-main-red;
                                position: absolute;
                                right: 10px;
                                bottom: 10px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }*/
        }

        &--valuation{
            text-align: center;
            margin-top: 30px;
        }
    }

    .section-cta-carousel {
        .cta-slide {
            &--content {
                padding: 30px;
            }
        }
    }

    .property-search-info-wrap{
        padding: 20px 0;

        &--inner{
            flex-direction: column;

            .propertyhive-ordering{
                margin-right: 0;
            }

            .propertyhive-result-count,
            .propertyhive-ordering{
                margin-bottom: 10px;
            }
        }
    }

    .section-property-calculator{
        &--inner {
            .property-calculators-wrapper{
                ul.nav{
                    flex-wrap: nowrap;

                    li{
                        flex: 1 1 auto;
                        text-align: center;
                    }
                }
            }
        }
    }

    .arrange-viewing-box-wrap{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .branch-opening-hours-block,
        .property-arrange-viewing{
            display: none;
        }

        .btn-mobile-arrange-viewing{
            display: block;
        }
    }

    .single-sa_branch,
    .single-sa_new_home,
    .single-property{
        padding-bottom: 60px;
    }

    .single-property{
        div.property{
            .entry-summary{
                .property-detail-heading{
                    display: block;

                    .price{
                        text-align: left;
                        margin-top: 20px;
                    }
                }
            }

            .mobile-sticky-contact-box{
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 15px;
                background-color: $support-color4;
                z-index: 100;
            }
        }
    }

    .single-sa_new_home{
        .section-new-home-developments{
            ul.properties{
                .dev-item{
                    &--floorplan{
                        display: none;
                    }
                }
            }
        }
    }

    .section-new-home-details{
        &--heading{
            .price-block{
                text-align: left;
            }
        }
    }

    .single-sa_branch{
        .branch-contact-details{
            &--heading{
                cursor: pointer;
                position: relative;

                &:after{
                    content: "\f078";
                    font-family: "Font Awesome 6 Pro";
                    color: $brand-main-red;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.5s ease;
                    right: 15px;
                }

                &.item-opened{
                    &:after{
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                .container{
                    &:before{
                        content: "Click here to ";
                    }
                }
            }

            &--contacts{
                display: none;
            }
        }
    }

    .section-content{
        &--sidebar{
            .acf-widget-area{
                .content-widget{
                    &:not(:first-child){
                        margin-top: 30px;
                    }
                }

                .block-latest-posts{
                    & > h3{
                        text-align: center;
                        margin-bottom: 30px;
                    }

                    .more-link{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                }
            }
        }
    }

    .section-cta-text{
        &--style{
            padding: 40px 25px;
        }
    }

    .section-shortcode-form{
        &:before{
            content: normal;
        }

        &--box{
            margin-left: 0;
            margin-right: 0;
        }
    }

    .section-404-search-properties-form{
        @include search-form-column;

        .property-search-department-tabs{
            ul{
                display: flex;
                margin: 0 -2px;

                li{
                    flex: 1 1 auto;
                    text-align: center;
                    padding: 0 2px;
                }
            }
        }

        &--inner{
            padding-top: 30px;
        }
    }

    .propertyhive-my-account{
        display: block;

        .my-account-navigation {
            max-width: 100%;
            padding: 15px 0;
        }

        .my-account-sections{
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -40px;
            padding: 15px;

            &:before{
                content: normal;
            }

            .propertyhive-shorlisted-properties{
                tbody{
                    tr{
                        td:first-child,
                        th:first-child{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .section-block-links{
        .block-links-wrapper{
            .item-block-link{
                margin-bottom: 50px;
            }
        }
    }

    #save_search_popup .button,
    #save_search_popup input[type="submit"]{
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .arrange-viewing-box-wrap{
        .branch-opening-hours-block,
        .property-arrange-viewing{
            display: block!important;
        }
    }

    .single-sa_branch{
        .branch-contact-details{
            &--contacts{
                display: block!important;
            }
        }
    }

    .archive .sa-pagination,
    .page-template-page-insights .sa-pagination{
        text-align: center;
        font-size: 14px;

        ul.pages{
            li{
                a{
                    padding: 2px 0.580rem;
                }
            }
        }
    }
}
