@media screen and (max-width: 991px) {
    #header{
        font-size: 13px;

        .header-inner{
            .header-logo{
                max-width: 65px;
                flex-basis: 65px;
            }

            .header-content{
                &--top{
                    .btn-valuation{
                        padding: 8px;
                        font-size: 13px;
                    }
                }

                &--menu{
                    ul {
                        li:not(:first-child){
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .sticky-header{
        padding-top: 119px;
    }

    .section-page-top{
        &.has-reviews-area{
            .feefo-widget-wrap{
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }

    .section-home-hero{
        &--image {
            img {
                height: 215px;
                object-fit: cover;
                width: 100%;
            }
        }

        &--content{
            padding-left: 15px;
            padding-right: 15px;
        }

        &--search{
            position: relative;
            left: auto;
            right: auto;
            margin-top: -50px;

            &__shortcode{
                max-width: 100%;
            }
        }
    }

    .section-content-image{
        &--content{
            padding: 60px;
        }

        &.has-logo-watermark{
            .section-content-image--content{
                padding-bottom: 130px;
                background-position: bottom 30px center;
            }
        }

        &--mobile-image{
            margin-top: 50px;
        }

        &.section-valuation{
            .section-content-image--content{
                padding: 60px;
            }

            &.has-logo-watermark{
                .section-content-image--content{
                    padding-bottom: 130px;
                }
            }
        }
    }

    .section-cta-carousel{
        .cta-slide{
            &--image{
                margin-top: 15px;
            }

            &--content{
                margin-left: 15px;
                margin-right: 15px;
                padding: 60px;
                text-align: center;
            }
        }

        .sa-cta-carousel{
            margin-left: -15px;
            margin-right: -15px;
            width: auto;
            padding-bottom: 0;

            .owl-dots{
                position: relative;
                right: auto;
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    div.properties.view-grid,
    ul.properties.view-grid{
        grid-template-columns: 1fr 1fr;
    }

    .property-search-info-wrap{
        &--inner{
            .propertyhive-result-count{
                font-size: 18px;
            }

            .propertyhive-views{
                ul{
                    li.list-view{
                        display: none;
                    }
                }
            }
        }
    }

    /*.section-properties{
        .properties-list-wrapper{
            ul.properties{
                grid-template-columns: 1fr 1fr;
            }
        }
    }*/

    .insight-sidebar{
        .insight-widget{
            .categories-list{
                padding: 0;

                .wp-block-group__inner-container{
                    & > h5 {
                        padding: 15px 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: pointer;

                        &:after {
                            content: "\f078";
                            font-family: "Font Awesome 6 Pro";
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            color: $brand-main-red;
                            transition: 0.5s ease;
                        }
                    }

                    & > ul {
                        display: none;
                        padding-bottom: 15px;
                    }

                    &.list-opened{
                        & > h5 {
                            &:after{
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .section-features-image{
        &--image{
            padding-top: 15px;
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .single-sa_branch{
        .branch-contact-details{
            &--contacts{
                .contact-emails{
                    .btn{
                        padding: 10px 0.6rem;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
