@media screen and (max-width: 991px) {
    .section-home-hero{
        &--image {
            img {
                height: 215px;
                object-fit: cover;
                width: 100%;
            }
        }

        &--content{
            padding-left: 15px;
            padding-right: 15px;
        }

        &--search{
            position: relative;
            left: auto;
            right: auto;
            margin-top: -50px;

            &__shortcode{
                max-width: 100%;
            }
        }
    }

    .section-content-image{
        &--content{
            padding: 60px;
        }

        &.has-logo-watermark{
            .section-content-image--content{
                padding-bottom: 130px;
                background-position: bottom 30px center;
            }
        }

        &--mobile-image{
            margin-top: 50px;

            img{
                width: 100%;
            }
        }
    }
}
