{#
/**
 * Block Name: CTA Box
 *
 */
#}

{% if is_preview %}{% endif %}

<div id="block-promo-{{ block.id }}" class="block-promo text-center">
    <div class="block-promo--content">
        {{ promo_content }}
    </div>
</div>
